doctype  html
html
	head
		title #{headline} | ExamDB
		meta(charset='UTF-8')
		meta(name='description' content=message)
		link(rel='stylesheet' href='/examdb.css')
		script(src='/library/jquery/jquery.min.js')
		script(src='/library/jquery-tablesort/jquery.tablesort.min.js')
		meta(name='viewport' content='width=device-width, initial-scale=1')
	body

		header
			p
				a(href='/' title='ExamDB Homepage')
					img(src='/examdb.png' width='64' height='64' alt='')

		section(class='message message-'+status)

			h1 #{headline}

			div
				span #{message}
