doctype html
html
	head
		title ExamDB; A database of UK school examinations
		meta(charset='UTF-8')
		meta(name='description' content='A database of UK school examinations. There are #{qualifications.length} qualifications examined in UK schools.')
		link(rel='stylesheet' href='/examdb.css')
		link(rel='alternate' type='application/json' title='All exams in JSON format' href='/exams.json')
		meta(name='viewport' content='width=device-width, initial-scale=1')
	body

		header
			p
				a(href='/' title='ExamDB Homepage')
					img(src='/examdb.png' width='128' height='128' alt='')
		section
			h1 ExamDB ; A database of UK school examinations

			h2 Search

			p
				small 
					= 'e.g. '
					a(href='/search?q=GCSE') GCSE
					= ' '
					a(href='/search?q=SQA') SQA
					= ' '
					a(href='/search?q=Mathematics') Mathematics
					= ' '
					a(href='/search?q=2018-05-23') 2018-05-23
					= ' '
					a(href='/search?q=today') today
					= ' '
					a(href='/search?q=tomorrow') tomorrow

			form(method='get' action='/search' class='search')
				div
					input(type='text' id='query' name='q' value='')
					input(type='submit'  name='' value='🔍')

			script
				| document.getElementById("query").focus();

			p You can search for exams by examboard, qualification, subject and date.

			p
				small ℹ️ Please note, search is case sensitive

			h2 Browse qualifications

			p We have data on examinations from #{qualifications.length} qualifications which have relevance to UK schools.

			ul
				each qualification in qualifications
					li
						a(href='/qualifications/'+qualification.id) #{qualification.name}

			h2 Contributing to ExamDB

			p You can contribute to ExamDB. Find out how to 
				= ' '
				a(href='/exams/import') import examinations data
				= '.'
				
			h2 Download dataset

			ul
				li
					a(rel='alternate' type='application/json' href='/exams.json') All exams in JSON format

			h2 Did you know?

			p ExamDB was created by 2018.
				= ' '
				a(href='https://github.com/alicraigmile/examdb') Find out more  
