doctype html
html
	head
		title ExamDB; A database of UK school examinations
		meta(charset='UTF-8')
		meta(name='description' content='A database of UK school examinations. There are #{qualifications.length} qualifications examined in UK schools.')
		link(rel='stylesheet' href='/examdb.css')
		meta(name='viewport' content='width=device-width, initial-scale=1')
	body

		header
			p
				a(href="/") ExamDB
		section
			h1 ExamDB ; A database of UK school examinations

			h2 Browse qualifications

			p We have data on examinations from #{qualifications.length} qualifications which have relevance to UK schools.

			ul
				each qualification in qualifications
					li
						a(href='/qualifications/'+qualification.id) #{qualification.label}

			h2 Did you know?

			p You can also contribute to ExamDB by
				= ' '
				a(href='/exams/import') importing your examinations data
				= '.'
				