doctype html
html
	head
		title ExamDB
		meta(charset='UTF-8')
		meta(name='description' content='A database of UK school examinations. There are #{qualifications.length} qualifications examined in UK schools.')
		link(rel='stylesheet' href='/examdb.css')
	body

		p(class='context')
			a(href="/") ExamDB

		p A database of UK school examinations.

		h1 Pick a qualification

		p There are #{qualifications.length} qualifications examined in UK schools.

		ul
			each qualification in qualifications
				li
					a(href='/qualifications/'+qualification.id) #{qualification.label}

