<!DOCTYPE html>
html
	head
		title ExamDB
		meta(charset='UTF-8')
		meta(name='description' content='A database of UK school examinations. There are 2 qualifications examined in UK schools.')
		link(rel='stylesheet' href='/examdb.css')
	body

		p(class='context')
		a(href="index.html") ExamDB
		p A database of UK school examinations. There are 2 qualifications examined in UK schools.

		h1 Pick a qualification

		ul
			li
				a(href='/qualifications/gce') GCE
			li
				a(href='/qualifications/gcse') GCSE

