<!DOCTYPE html>
html
	head
		title GCSE providers
		meta(charset='UTF-8')
		meta(name='description' content='There are 6 providers (exam boards) offering GCSE examinations.')
		link(rel='stylesheet' href='/examdb.css')
	body

		p(class='context')
			a(href='/') ExamDB
		p(class='context')
			a(href='/qualifications/gcse') GCSE

		p There are 6 providers (exam boards) offering GCSE examinations.
		h1 Pick a GCSE provider (exam board)

		ul
			li
				a(href='/pathways/gcse-aqa') AQA
			li
				a(href='/pathways/gcse-cea') CEA
			li
				a(href='/pathways/gcse-edexcel') EDEXCEL
			li
				a(href='/pathways/gcse-equqas') EDUQAS
			li
				a(href='/pathways/gcse-ocr') OCR
			li
				a(href='/pathways/gcse-wjec') WJEC
